.carousel-general-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    max-width: 1212px;
    max-height: 480px;
    aspect-ratio: 16 / 9;
}
    

.carousel-container {
    width: 100%;
    height: 100%;
    max-width: 1120px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
  width: 100%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item.active {
  opacity: 1;
  z-index: 2;
}


.carousel-button{
  top: 50%;
}




/* index box */
.carousel-index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding-top: 24px; */
    border-radius: 4px;
    gap: 8px;
}

.carousel-index-wrapper{
  display: flex;
    padding-top: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.index-box{
    background: var(--violet-deep);
    width: 14px;
    height: 14px;
    top: 546px;
    left: 530px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    box-shadow: -3px -24px 365px -28px rgba(0,0,0,0.7);
    -webkit-box-shadow: -3px -24px 365px -28px rgba(0,0,0,0.7);
    -moz-box-shadow: -3px -24px 365px -28px rgba(0,0,0,0.7);
}

.index-box.active{
    background: var(--violet-soft);
}