.user-own-review {
  background-color: var(--grey-medium-light);
  padding: 15px 20px 30px 20px;
  margin-bottom: 20px;
  color: white;
  width: 100%;
  position: relative;
}

.user-own-review-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.user-own-review-profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-own-review-recommended {
  position: absolute;
  top: 15px;
  right: 27px;
}

.user-own-review-text {
  font-weight: 600;
  color: white;
  margin-top: 20px;
  margin-left: 35px;
}
